<app-navbar></app-navbar>
<div class="container">
    <form [formGroup]="postForm">
    <div class="row mb-5 mt-3">
        <div class="col-md-12"><h1></h1> </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3>La bonne réponse est : {{reponseCorrect}}</h3>
       <div class=""> 
        <label>Question</label> 
            <input type="text" placeholder="Question..." id="myInput" class="form-control" formControlName="question"> 
       <div class="text-info" *ngIf ="postForm.controls.question && postForm.controls.question.invalid && postForm.controls.question.touched">Ce champs est obligatoire</div>
       
    </div>
        
         <div class="form-floating mt-3">
             <label>Suggestions</label> 
            <button type="button" class="btn btn-secondary btn-sm mt-5 ml-5" (click)="addSuggestion()">add suggestion</button>
       
              <div class="text-info" *ngIf ="postForm.controls.suggestion && postForm.controls.suggestion.invalid && postForm.controls.suggestion.touched">Ce champs est obligatoire</div>
              <div  formArrayName="suggestion" *ngFor="let contenu of suggestion.controls ; let i = index">
               <div class="d-flex flex-row bd-highlight mb-3">  <input type="text" class="form-control my-1 " [formControlName]="i">
                  <button type="button" class="btn btn-success" (click)="correctResponse(i)"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                      </svg>
                  </button>
                </div> 
              </div>
            </div>
         <p class="text-center">  
               <button type="submit" class="text-center btn btn-primary" [disabled]="!postForm.valid" (click)="newElement()">add</button> </p> 
        </div>
    </div>
    </form>
          
</div>
