<app-navbar></app-navbar>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </div>
</section>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4" *ngFor="let quiz of quizs">
      <h2>Titre de quiz : {{ quiz.quizzTitle }}</h2>

      <div *ngFor="let question of quiz.questions; let i = index">
        <h4>La question est : {{ question.textQuestion }}</h4>
        <div>
          liste des propositions
          <div *ngFor="let suggestion of question.suggestions; let j = index">
            <input type="radio" [name]="i" />{{ suggestion }}<br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
